.container{

}
.col {float: left}
.cell{
  width: 100px;
  height: 100px;
  background-color: burlywood;
  border: 1px solid black;
}
.inner-content{
  border-radius: 3px;
  text-align: center;
  font-size: 55px;
  margin: 20px 0;
}
